<% type = params[:type] %>
<ul class="nav nav-pills buffer-bottom  nav-justified query_subnav">
  <li role="presentation" class="<%= active?(type, "bones") %>">
    <%= link_to "Bones", query_form_path("artifacts", "bones") %>
  </li>
  <li role="presentation" class="<%= active?(type, "ceramics") %>">
    <%= link_to "Ceramics", query_form_path("artifacts", "ceramics") %>
  </li>
  <li role="presentation" class="<%= active?(type, "eggshells") %>">
    <%= link_to "Eggshells", query_form_path("artifacts", "eggshells") %>
  </li>
  <li role="presentation" class="<%= active?(type, "lithics") %>">
    <%= link_to "Lithics", query_form_path("artifacts", "lithics") %>
  </li>
  <li role="presentation" class="<%= active?(type, "ornaments") %>">
    <%= link_to "Ornaments", query_form_path("artifacts", "ornaments") %>
  </li>
  <li role="presentation" class="<%= active?(type, "perishables") %>">
    <%= link_to "Perishables", query_form_path("artifacts", "perishables") %>
  </li>
  <li role="presentation" class="<%= active?(type, "woods") %>">
    <%= link_to "Woods", query_form_path("artifacts", "woods") %>
  </li>
</ul>
