<% sel = params["action"] %>

<!-- bootstrap nav pills -->
<ul class="nav nav-pills">
  <li role="presentation" <%= "class=active" if sel == "ceramics"%>>
    <%= link_to "Ceramics", art_ceramics_path %>
  </li>
  <li role="presentation" <%= "class=active" if sel == "lithics"%>>
    <%= link_to "Lithics", art_lithics_path %>
  </li>
  <li role="presentation" <%= "class=active" if sel == "faunal"%>>
    <%= link_to "Faunal Bones", art_faunal_path %>
  </li>
  <li role="presentation" <%= "class=active" if sel == "perishables"%>>
    <%= link_to "Perishables", art_perishables_path %>
  </li>
  <li role="presentation" <%= "class=active" if sel == "ornaments"%>>
    <%= link_to "Ornaments", art_ornaments_path %>
  </li>
  <li role="presentation" <%= "class=active" if sel == "wood"%>>
    <%= link_to "Wood", art_wood_path %>
  </li>
</ul>
<!-- /bootstrap nav pills -->
