<%= javascript_include_tag "query" %>

<h4>Common Search Options</h4>

<span class="common_search_help glyphicon glyphicon-question-sign"
  aria-hidden="true" data-toggle="popover"
  data-content="Common Search Options are saved when a search is performed.
  To clear all saved search options, press the 'Clear All Search Options'
  button. Note: This will also clear any search criteria entered in the table
  search options to the right.">
</span>
<div class="pull-right">
  <%= link_to "Clear All Search Options", { controller: params["controller"],
    action: params["action"], search_clear: 1 }, class: "btn btn-danger" %>
</div>
<div class="clearfix buffer-bottom-sm"></div>

<!-- common search options accordian -->
<div class="panel-group combined_selections" id="accordion" role="tablist" aria-multiselectable="true">

  <!-- unit type filters -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-unitclass">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse-unitclass" aria-expanded="true" aria-controls="collapse-unitclass">
          Unit Type
        </a>
        <%= render "common_search_badge",
          session_value: session[:common_search_unit_class] %>
        <div class="form-inline pull-right check_all">
          <div class="checkbox">
            <label>
              <input type="checkbox" class="select_all"/> Select All
            </label>
          </div>
        </div>
      </h4>
    </div>
    <div id="collapse-unitclass" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-unit">
      <div>
        <ul class="list-group checked-list-box">
          <% UnitClass.all.each do |u| %>
            <li class="list-group-item">
              <div class="form-inline">
                <div class="checkbox">
                  <%= check_box_tag "unit_class[#{u.id}]", u.id, checked?(u.id, session[:common_search_unit_class]), class: "select_all", name: "unit_class[]" %>
                  <%= label_tag "unit_class[#{u.id}]", u.name %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- unit num filters -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-unitnum">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse-unitnum" aria-expanded="false" aria-controls="collapse-unitnum">
          Unit Number
        </a>
        <%= render "common_search_badge",
          session_value: session[:common_search_unit] %>
        <div class="form-inline pull-right check_all">
          <div class="checkbox">
            <label>
              <input type="checkbox" class="select_all"/> Select All
            </label>
          </div>
        </div>
      </h4>
    </div>
    <div id="collapse-unitnum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-num">
      <div>
        <ul class="list-group checked-list-box">
          <% Unit.all.sorted.each do |u| %>
            <li class="list-group-item">
              <div class="form-inline">
                <div class="checkbox">
                  <%= check_box_tag "unit[#{u.id}]", u.id, checked?(u.id, session[:common_search_unit]), class: "select_all", name: "unit[]" %>
                  <%= label_tag "unit[#{u.id}]", u.unit_no %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- occupation filters -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-occupation">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse-occupation" aria-expanded="false" aria-controls="collapse-occupation">
          Occupation
        </a>
        <%= render "common_search_badge",
          session_value: session[:common_search_occupation] %>
        <div class="form-inline pull-right check_all">
          <div class="checkbox">
            <label>
              <input type="checkbox" class="select_all"/> Select All
            </label>
          </div>
        </div>
      </h4>
    </div>
    <div id="collapse-occupation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-occupation">
      <div>
        <ul class="list-group checked-list-box">
          <% Occupation.order("name").each do |o| %>
            <li class="list-group-item">
              <div class="form-inline">
                <div class="checkbox">
                  <%= check_box_tag "occupation[#{o.id}]", o.id, checked?(o.id, session[:common_search_occupation]), class: "select_all", name: "occupation[]" %>
                  <%= label_tag "occupation[#{o.id}]", o.name %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- strata filters -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-stratum">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-stratum" aria-expanded="false" aria-controls="collapse-stratum">
          Strata
        </a>
        <%= render "common_search_badge",
          session_value: session[:common_search_strat_grouping] %>
        <div class="form-inline pull-right check_all" >
          <div class="checkbox">
            <label>
              <input type="checkbox" class="select_all"/> Select All
            </label>
          </div>
        </div>
      </h4>
    </div>
    <div id="collapse-stratum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-stratum">
      <div>
        <ul class="list-group checked-list-box">
          <% StratGrouping.order("name").each do |s| %>
            <li class="list-group-item">
              <div class="form-inline">
                <div class="checkbox">
                  <%= check_box_tag "strat_grouping[#{s.id}]", s.id, checked?(s.id, session[:common_search_strat_grouping]),
                    class: "select_all", name: "strat_grouping[]" %>
                  <%= label_tag "strat_grouping[#{s.id}]", s.name %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- features filters -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-feature">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse-feature" aria-expanded="false" aria-controls="collapse-feature">
          Feature
        </a>
        <%= render "common_search_badge",
          session_value: session[:common_search_feature_group] %>
        <div class="form-inline pull-right check_all" >
          <div class="checkbox">
            <label>
              <input type="checkbox" class="select_all"/> Select All
            </label>
          </div>
        </div>
      </h4>
    </div>
    <div id="collapse-feature" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-feature">
      <div>
        <ul class="list-group checked-list-box">
          <% FeatureGroup.all.each do |fg| %>
            <li class="list-group-item">
              <div class="form-inline">
                <div class="checkbox">
                  <%= check_box_tag "feature_group[#{fg.id}]", fg.id, checked?(fg.id, session[:common_search_feature_group]), class: "select_all", name: "feature_group[]" %>
                  <%= label_tag "feature_group[#{fg.id}]", fg.name %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
