<div class="form-group">
  <%= label_tag("site", "Site (I think there is only one...)") %>
  <%= text_field_tag "site", params["site"], placeholder: "LA 8846", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("box", "Box") %>
  <%= text_field_tag "box", params["box"], placeholder: "C511", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("fsno", "FS#") %>
  <%= text_field_tag "fsno", params["fsno"], placeholder: "33051", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("gdew", "Grid E/W") %>
  <%= text_field_tag "gdew", params["gdew"], placeholder: "38W", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("gdns", "Grid N/S") %>
  <%= text_field_tag "gdns", params["gdns"], placeholder: "21S", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("expr", "Exact Provenance") %>
  <%= text_field_tag "expr", params["expr"], placeholder: "44.77E/03.64S", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("dpbg", "Beginning Depth") %>
  <%= text_field_tag "dpbg", params["dpbg"], placeholder: "5.5", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("dpen", "Ending Depth") %>
  <%= text_field_tag "dpen", params["dpen"], placeholder: "5.5", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("fldt", "Field Date") %>
  <%= text_field_tag "fldt", params["fldt"], placeholder: "07/11/1973", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("excv", "Excavator") %>
  <%= text_field_tag "excv", params["excv"], placeholder: "lolr", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("rkno", "Record Key #") %>
  <%= text_field_tag "rkno", params["rkno"], placeholder: "33756", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag("cmmt", "Comments") %>
  <%= text_field_tag "cmmt", params["cmmt"], placeholder: "floor surface", class: "form-control" %>
</div>
