<h3>Artifact Search</h3>

<%= render "artifact_nav" %>

<%= form_tag bones_results_path, method: :get do %>
  <div class="row">
    <!-- Bone tables and search options -->
    <div class="col-md-8">

      <!-- bone tool query navigation -->
      <ul class="nav nav-tabs buffer-bottom" id="artifacts_bones_tab">
        <li class="active">
          <a href="#inventory" data-toggle="tab">
            Inventory <span class="badge"><%= delimit(@total_bi) %></span>
          </a>
        </li>
        <li>
          <a href="#tool" data-toggle="tab">
            Tools <span class="badge"><%= delimit(@total_bt) %></span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- Inventory -->
        <div class="tab-pane active" id="inventory">
          <div class="row">
            <div class="col-md-6">
              <%= render "inventory_common_fields" %>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag "bi_quad", "Quad" %>
                <%= select_tag "bi_quad", options_for_select(@bi_quad, params["bi_quad"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "bi_sano", "Select Artifact #" %>
                <%= select_tag "bi_sano", options_for_select(@bi_sano, params["bi_sano"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "bi_enby", "Data Entry" %>
                <%= select_tag "bi_enby", options_for_select(@bi_enby, params["bi_enby"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "bi_loca", "Location" %>
                <%= select_tag "bi_loca", options_for_select(@bi_loca, params["bi_loca"]),
                    class: "form-control", include_blank: true %>
              </div>
            </div>
          </div>
          <%= submit_tag "Search Bone Inventory", class: "btn btn-primary" %>
        </div>

        <!-- Tools -->
        <div class="tab-pane" id="tool">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag "bt_fsno", "FS #" %>
                <%= text_field_tag "bt_fsno", params["bt_fsno"], placeholder: "8107", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= label_tag "bt_dep", "Depth" %>
                <%= text_field_tag "bt_dep", params["bt_dep"], placeholder: "5.1", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= label_tag "bt_cmmt", "Comments" %>
                <%= text_field_tag "bt_cmmt", params["bt_cmmt"], placeholder: "complete pin", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= label_tag "bt_grid", "Grid" %>
                <%= text_field_tag "bt_grid", params["bt_grid"], placeholder: "11W/10N", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag "bt_type", "Type (this is an example of multiselect)" %>
                <%= select_tag "bt_type", options_for_select(@bt_type, params["bt_type"]),
                    class: "form-control", include_blank: true, multiple: true %>
              </div>
              <div class="form-group">
                <%= label_tag "bt_tpcd", "Type Code" %>
                <%= select_tag "bt_tpcd", options_for_select(@bt_tpcd, params["bt_tpcd"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "bt_spcd", "Species Code" %>
                <%= select_tag "bt_spcd", options_for_select(@bt_spcd, params["bt_spcd"]),
                    class: "form-control", include_blank: true %>
              </div>
            </div>
          </div>
          <%= submit_tag "Search Bone Tools", class: "btn btn-primary" %>
        </div>
      </div> <!-- /tab-content -->
    </div> <!-- /col-md-8 -->

    <%= render "artifact_global_opts" %>
  </div>
<% end %>
