<h3>Artifact Search</h3>

<%= render "artifact_nav" %>

<br>

<%= form_tag ceramics_path, method: :get do %>
  <div class="row">
    <!-- Ceramics tables and search options -->
    <div class="col-md-8">

      <!-- ceramics query navigation -->
      <ul class="nav nav-tabs" id="artifacts_ceramics_tab">
        <li class="active"><a href="#all" data-toggle="tab">All</a></li>
        <li><a href="#inventory" data-toggle="tab">Ceramics Inventory</a></li>
      </ul>

      <div class="tab-content">

        <!-- all -->
        <div class="tab-pane active" id="all">
          <p>This is where a summary of stuff about bone tools would go and some search options</p>
          <p>There are <%= pluralize @total_ci, "ceramics inventory" %> in this database</p>
        </div>

        <!-- inventory -->
        <div class="tab-pane" id="inventory">
          <div class="row">
            <div class="col-md-6">
              <%= render "inventory_common_fields" %>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag "ci_quad", "Quad" %>
                <%= select_tag "ci_quad", options_for_select(@ci_quad, params["ci_quad"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "ci_sano", "Select Artifact #" %>
                <%= select_tag "ci_sano", options_for_select(@ci_sano, params["ci_sano"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "ci_enby", "Data Entry" %>
                <%= select_tag "ci_enby", options_for_select(@ci_enby, params["ci_enby"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "ci_loca", "Location" %>
                <%= select_tag "ci_loca", options_for_select(@ci_loca, params["ci_loca"]),
                    class: "form-control", include_blank: true %>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /tab-content -->
    </div> <!-- /col-md-8 -->

    <%= render "artifact_global_opts" %>
  </div>
<% end %>
