<h2><%= params[:category].titleize %> Search</h2>

<%= form_tag query_results_path(params[:category], params[:subcat], params[:table]), method: :get do %>
  <div class="row">
    <div class="col-md-4">
      <%= render "common_fields" %>
    </div>

    <div class="col-md-8">
      <% if params[:table] == "features" %>
        <p class="text-danger">
          Many Feature search options below are temporarily inoperable.
          Apologies for the inconvenience.
        </p>
      <% end %>

      <% if !params[:category][/^(?:units|features|strata|images)$/] %>
        <%= abstraction_subnav %>
      <% end %>

      <ul class="nav nav-tabs buffer-bottom">
        <% @tables.each do |t| %>
          <li class="<%= active?(params[:table], t[:name])%>">
          <%= link_to query_form_path(params[:category], params[:subcat],
                                      t[:name]) do %>
            <%= t[:label] %>
            <span class="badge"><%= delimit(t[:count]) %></span>
          <% end %>
          </li>
        <% end %>
      </ul>

      <p class="buffer-bottom" id="query_table_description">
        <%= table_description %>
      </p>

      <div class="query_description_display">
        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#query_table_description" aria-expanded="false" aria-controls="Show table description" id="query_desc_disp_btn">Show table description</button>
      </div>

      <div class="clearfix"></div>
      
      <div class="row">
        <div class="col-md-8">
          <%= render "csv_table_download" %>
        </div>
        <div class="col-md-4">
          <%= submit_tag "Search #{table_label}", class: "btn btn-primary pull-right" %>
        </div>
      </div>
      
      <div class="row">
        <%= display_forms @table_fields[:primary] %>
      </div>
      
      <div class="query_other_otions_btn_wrap">
        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#query_other_otions" aria-expanded="false" aria-controls="Show search options" id="query_search_options_btn">Show more search options</button>
      </div>

      <div class="row well" id="query_other_otions">
        <%= display_forms @table_fields[:other] %>
      </div>
      
      <div class="pull-right">
        <%= submit_tag "Search #{table_label}", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
