<h3><%= params[:category].titleize %> Search</h3>

<%= form_tag query_results_path(params[:category], params[:type], params[:table]), method: :get do %>
  <div class="row">
    <div class="col-md-4">
      <%= render "common_fields" %>
    </div>

    <div class="col-md-8">
      <% if !params[:category][/^(?:features|strata|images)$/] %>
        <%= render "#{params[:category]}_nav" %>
      <% end %>

      <ul class="nav nav-tabs buffer-bottom">
        <% @tables.each do |t| %>
          <li class="<%= active?(params[:table], t[:name])%>">
          <%= link_to query_form_path(params[:category], params[:type],
                                      t[:name]) do %>
            <%= t[:label] %>
            <span class="badge"><%= delimit(t[:count]) %></span>
          <% end %>
          </li>
        <% end %>
      </ul>

      <div class="pull-right">
        <%= submit_tag "Search #{params[:table].to_s.pluralize.titleize}",
                       class: "btn btn-primary" %>
      </div>
      <div class="clearfix"></div>

      <div class="row">
        <!-- Text fields -->
        <div class="col-md-6">
          <% @table_inputs.each do |column| %>
            <div class="form-group">
              <%= label_tag column[:name], column[:name].titleize %>
              <%= text_field_tag column[:name], params[column[:name]],
                                 class: "form-control" %>
            </div>
          <% end %>
        </div>

        <!-- Select fields -->
        <div class="col-md-6">
          <% @table_selects.each do |column| %>
            <% param_name = "inv_#{column[:name]}" %>
            <div class="form-group">
              <%= label_tag column[:name], column[:name].titleize %>
              <% if column[:type] == :column %>
                <%= select_from_column @table_class, column, column[:name] %>
              <% elsif column[:type] == :assoc %>
                <%= select_from_assoc column, column[:name] %>
              <% elsif column[:type] == :join %>
                <%= select_from_join @table_class, column, column[:name] %>
              <% end %>
             </div>
          <% end %>
        </div>
      </div>

      <div class="pull-right">
        <%= submit_tag "Search #{params[:table].to_s.pluralize.titleize}",
                       class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
