<h3><%= table_label %> Search Results</h3>

<p>Found <%= pluralize @res.count, "match" %>:</p>

<div class="row buffer-bottom">
  <div class="pull-right">
    <%= render "csv_results_download" %>
  </div>
  <%= will_paginate @res %>
</div>

<div class="search_results table-responsive buffer-bottom">
  <table class="table table-condensed table-hover table-striped">
    <% no_occupation = !@column_names.include?("occupation_id") %>
    <tr>
      <%# Add Occupation column if not present %>
      <% if @occupation_source.present? && no_occupation %>
        <th><%= @occupation_source %></th>
      <% end -%>

      <%- @column_names.each do |column| %>
        <% unless sensitive_record?(column) %>
          <th>
            <% if column == "occupation_id" && @occupation_source.present? %>
              <%= @occupation_source %>
            <% else %>
              <% if column[/_(?:habtm|hm)$/]
                column = column[/^(.+)_(?:habtm|hm)$/, 1]
              elsif column[/_join$/]
                column = column[/^\w+\|(\w+)_join$/, 1]
              end %>
              <%= column.titleize %>
            <% end %>
          </th>
        <% end %>
      <% end %>
    </tr>
    <% @res.each do |result| %>
      <tr>
        <%# Add Occupation column if not present %>
        <% if @occupation_source.present? && no_occupation %>
          <td>
            <%= Occupation.where(id: result[:occupation_id]).first.name %>
          </td>
        <% end -%>
        <% @column_names.each do |column| %>
          <% if sensitive_record?(column) %>
            <%# Display nothing %>
          <% else %>
            <td><%= display_value(result, column) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <div class="pull-right">
    <%= render "csv_results_download" %>
  </div>
  <%= will_paginate @res %>
</div>
