<h3><%= @table.to_s.titleize %> Search Results</h3>

<p>Found <%= pluralize @res.count, "match" %>:</p>

<%= will_paginate @res %>

<div class="search_results table-responsive">
  <div class="pull-right">
    <%= link_to query_results_path(params_copy.merge({format: "csv"})) do %>
      <button type="button" class="btn btn-default">
        Download as CSV <span class="glyphicon glyphicon-download-alt"></span>
      </button>
    <% end %>
  </div>

  <table class="table table-striped">
    <% no_occupation = !@column_names.include?("occupation_id") %>
    <tr>
      <%# Add Occupation column if not present %>
      <% if @occupation_source.present? && no_occupation %>
        <th><%= @occupation_source %></th>
      <% end -%>

      <%- @column_names.each do |column| %>
        <% unless column[/(?:^id|_at)$/] || sensitive_record?(column) %>
          <th>
            <% if column == "occupation_id" && @occupation_source.present? %>
              <%= @occupation_source %>
            <% else %>
              <%= column.titleize %>
            <% end %>
          </th>
        <% end %>
      <% end %>
    </tr>
    <% @res.each do |result| %>
      <tr>
        <%# Add Occupation column if not present %>
        <% if @occupation_source.present? && no_occupation %>
          <td>
            <%= Occupation.where(id: result[:occupation_id]).first.name %>
          </td>
        <% end -%>
        <% @column_names.each do |column| %>
          <% if sensitive_record?(column) %>
            <%# Display nothing %>
          <% elsif !column[/^id$/] %>
            <td><%= display_value(result, column) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @res %>
  <div class="pull-right">
    <%= link_to query_results_path(params_copy.merge({format: "csv"})) do %>
      <button type="button" class="btn btn-default">
        Download as CSV <span class="glyphicon glyphicon-download-alt"></span>
      </button>
    <% end %>
  </div>
</div>

<%= will_paginate @res %>
