<h3>Artifact Search</h3>

<%= render "artifact_nav" %>

<br>

<%= form_tag soils_path, method: :get do %>
  <div class="row">
    <!-- soils tables and search options -->
    <div class="col-md-8">

      <!-- soils query navigation -->
      <ul class="nav nav-tabs" id="artifacts_soils_tab">
        <li class="active"><a href="#all" data-toggle="tab">All</a></li>
        <li><a href="#inventory" data-toggle="tab">Soils (Inventory?)</a></li>
      </ul>

      <div class="tab-content">

        <!-- all -->
        <div class="tab-pane active" id="all">
          <p>This is where a summary of stuff about soils would go and some search options</p>
          <p>There are <%= pluralize @total_sl, "soils inventory" %> in this database</p>
        </div>

        <!-- inventory -->
        <div class="tab-pane" id="inventory">
          <div class="row">
            <div class="col-md-6">
              <p>TODO: Soils does not have a record key number, but it DOES have a sample number, unlike the rest of the inventories, so the below field set will probably look slightly different</p>
              <div class="form-group">
                <%= label_tag("sl_smpl", "Sample #") %>
                <%= text_field_tag "sl_smpl", params["sl_smpl"], placeholder: "none", class: "form-control" %>
              </div>
              <%= render "inventory_common_fields" %>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag "sl_quad", "Quad" %>
                <%= select_tag "sl_quad", options_for_select(@sl_quad, params["sl_quad"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "sl_artp", "Art Type" %>
                <%= select_tag "sl_artp", options_for_select(@sl_artp, params["sl_artp"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "sl_enby", "Data Entry" %>
                <%= select_tag "sl_enby", options_for_select(@sl_enby, params["sl_enby"]),
                    class: "form-control", include_blank: true %>
              </div>
              <div class="form-group">
                <%= label_tag "sl_loca", "Location" %>
                <%= select_tag "sl_loca", options_for_select(@sl_loca, params["sl_loca"]),
                    class: "form-control", include_blank: true %>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /tab-content -->
    </div> <!-- /col-md-8 -->

    <%= render "artifact_global_opts" %>
  </div>
<% end %>
