console.log('<%#= @record.to_label if @record != nil %>');
console.log('c <%#=params%>');
<%
if params[:parent_controller] != nil
	klass = Object.const_get params[:parent_controller].classify 
	item = klass.find params[:id]
end	
%>

<%# item = Item.find(params[:id]) %>
<%# results = item.send(params[:child_association]) %>
console.log('<%#= results.first.id %>');
// console.log('<%#= item.cdi_accessions.first.id %>');
console.log('<%#= @column.singular_association? %>')
<% if @record != nil  and params[:parent_controller] != nil %>
<% if @column.singular_association? %>
	$('#add-<%=params[:child_association]%>').html('<%= @record.to_label.gsub("\'","&apos;") if @record != nil %> <%= link_to('X', url_for(:action => 'remove_related', :id => item.id, :column => params[:child_association]), :remote => true, :data => {:confirm => 'Are you Sure?'})%>');
<% else %>
	console.log('<%#= @record.to_label if @record != nil %>');
	$('#add-<%=params[:child_association]%>').append('<div><%= j @record.to_label.gsub("\'","&apos;").gsub("\n", "  ") %> <input type="hidden" name="record[<%= params[:child_association] %>][<%= @record.id %>][<%= @record.class.primary_key %>]" value="<%= @record.id %>"> <%= link_to('X', '#', :class => "destroy", :onclick => "$(this).parent().remove();return false;")%></div>');
<% end %>
<% else %>
	$('#add-<%=params[:column]%>').html('');
<% end %>
	$('.update input').removeAttr('disabled');
	$('.update textarea').removeAttr('disabled');
	$('.form-footer img').hide();
	