<%= stylesheet_link_tag "images", media: "all", "data-turbolinks-track" => true %>

<h1>Image Gallery</h1>

<%= form_tag gallery_path, :method => "get",
  id: "image-search-form", role: "form" do %>
  <%= hidden_field_tag "sort", params["sort"] %>
  <!-- primary search fields -->
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag "image_no" %>
        <%= text_field_tag "image_no", params["image_no"], placeholder: "00946", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag "comments" %>
        <%= text_area_tag "comments", params["comments"], placeholder: "wall section", rows: 2, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="form-group">
          <%= label_tag "unit", "Unit" %>
          <%= select_tag "unit", options_from_collection_for_select(Unit.sorted, "id", "unit_no", params["unit"]), class: "form-control", multiple: true, include_blank: true, size: 6 %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="form-group">
          <%= label_tag "zone", "Zone" %>
          <%= select_tag "zone", options_from_collection_for_select(Zone.sorted, "id", "name", params["zone"]), class: "form-control", multiple: true, include_blank: true, size: 6 %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="form-group">
          <%= label_tag "subject", "Subject" %>
          <%= select_tag "subject", options_from_collection_for_select(ImageSubject.sorted, "id", "name", params["subject"]), class: "form-control", multiple: true, include_blank: true, size: 6 %>
        </div>
      </div>
    </div>
  </div> <!-- /row -->

  <!-- advanced search options -->
  <div class="row">
    <div class="collapse" id="collapseMore">
      <div class="well">

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "format", "Format" %>
              <%= select_tag "format", options_from_collection_for_select(ImageFormat.sorted, "id", "name", params["format"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "human_remain", "Human Remains?" %>
              <%= select_tag "human_remain", options_from_collection_for_select(ImageHumanRemain.sorted, "id", "name", params["human_remain"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "orientation", "Orientation" %>
              <%= select_tag "orientation", options_from_collection_for_select(ImageOrientation.sorted, "id", "name", params["orientation"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "quality", "Quality" %>
              <%= select_tag "quality", options_from_collection_for_select(ImageQuality.sorted, "id", "name", params["quality"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "associated_negative", "Associated Negative" %>
              <%= select_tag "associated_negative", options_from_collection_for_select(ImageAssocnoeg.sorted, "id", "name", params["associated_negative"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "box", "Box" %>
              <%= select_tag "box", options_from_collection_for_select(ImageBox.sorted, "id", "name", params["box"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "creator", "Creator" %>
              <%= select_tag "creator", options_from_collection_for_select(ImageCreator.sorted, "id", "name", params["creator"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>
        </div>

      </div> <!-- /well -->
    </div> <!-- /collapse -->
  </div> <!-- /row -->

  <div class="row">
    <button class="btn btn-info" type="button"
      data-toggle="collapse" data-target="#collapseMore"
      aria-expanded="false" aria-controls="collapseMore">
      More Query Options
    </button>
    <%= render partial: "partials/clear_search", locals: { path: gallery_path } %>
    <%= submit_tag("Search", :class => "btn btn-primary") %>
  </div>
<% end %>

<p>Found <%= pluralize(@result_num, "image") %></p>
<%= will_paginate @images %>

<% @images.each_slice(4) do |img_set| %>
  <div class="row">
    <% img_set.each do |img| %>
      <div class="col-md-3 <%= 'human_remains' if !img.displayable? %>">
        <%= link_to image_path img.image_no do %>
          <%= image_tag "field/thumb/#{img.image_no}" %>
        <% end %>
        <ul>
          <li>Number: <%= img.image_no %></li>
          <li>Units: <%= img.unit_list.join("; ") %></li>
          <li>Comments: <%= img.comments %></li>
          <li>Format: <%= img.format %></li>
          <li>Human Remains: <%= img.human_remain %></li>
          <li>Subjects: <%= img.subject_list.join("; ") %></li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

<%= will_paginate @images %>

