<%= stylesheet_link_tag "images", media: "all" %>

<div class="back_link"><%= link_to "Back to Gallery", gallery_path %></div>

<h2>Image <%= @image.image_no %></h2>

<div class="image_display">
  <%= image_display(@image) %>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Image Information</h2>
    <ul>
      <li>Number: <%= @image.image_no %></li>
      <li>Units:
        <% @image.unit_list.each do |u| %>
          <%= link_to u, unit_path(u) %>
        <% end %>
      </li>
      <li>Comments: <%= @image.comments %></li>
      <li>Format: <%= @image.format %></li>
      <% if !SETTINGS["hide_sensitive_image_records"] %>
        <li>
          Human Remains: <%= @image.human_remain %>
        </li>
      <% end %>
      <li>Subjects: <%= @image.subject_list.join("; ") %></li>
      <!-- TODO Features or Strata here? -->
      <li>Features: <%= @image.features.size %></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>More Information</h2>
    <ul>
      <li>Box: <%= @image.box %></li>
      <li>Creator: <%= @image.creator %></li>
      <li>Data Entry: <%= @image.entered_by %></li>
      <li>Date: <%= @image.date %></li>
      <li>Depth Begin: <%= @image.depth_begin %></li>
      <li>Depth End: <%= @image.depth_end %></li>
      <li>Grid EW: <%= @image.grid_ew %></li>
      <li>Grid NS: <%= @image.grid_ns %></li>
      <li>Notes: <%= @image.notes %></li>
      <li>Orientation: <%= @image.orientation %></li>
      <li>Quality: <%= @image.quality %></li>
      <li>Signi Art No: <%= @image.sa_no %></li>
      <li>Site: <%= @image.site %></li>
      <li>Storage Location: <%= @image.storage_location %></li>
      <li>Zones: <%= @image.zone_list.join("; ") %></li>
    </ul>
  </div>
</div>
