<h3>SPARC Project Goals and Accomplishments</h3>

<div class="illustration goals_illustration_1 illustration_right">
  <%= image_tag "pp_goals_001.jpg", class: "", alt: "aerial image of Salmon Pueblo" %>
  <div class="caption">Aerial image of Salmon Pueblo.  <%= link_to "Image 00318", image_path(number: "00318") %>.  Photographer unknown, date unknown.</div>
</div>

<p>SPARC is the result of a collaboration between four institutions dedicated to the preservation of cultural heritage: the Salmon Ruins Museum, Archaeology Southwest, the Center for Digital Research in the Humanities at the University of Nebraska-Lincoln, and the Institute for Advanced Technology in the Humanities at the University of Virginia.  This project was done in consultation with the Zuni Cultural Resource Advisory Team, the Hopi Cultural Preservation Office, and the Navajo Nation Heritage and Historic Preservation Department. While the prior excavations at Salmon Pueblo are seen as undesirable by Native peoples we are trying to make the best use of the information obtained from those excavations. From a preservation perspective this seems like a more ethical course of action in contrast to other forms of archaeological research (such as new excavation).  In short, we are trying to shift the archaeological paradigm towards preservation and responsible use of legacy data.</p>

<div class="illustration goals_illustration_2 illustration_left">
  <%= image_tag "pp_goals_002.jpg", class: "", alt: "Turquoise tadpole ornaments" %>
  <div class="caption">Turquoise tadpole ornaments.  <%= link_to "Image 12189", image_path(number: "12189") %>  Photographer unknown, date unknown.  https://salmonpueblo.org/gallery/12189.</div>
</div>

<p>National Endowment for the Humanities support for SPARC was directed towards three major stages of work: (1) digital acquisition, (2) data integration and management, and (3) online preservation of and access to materials. Through this dedicated website and shared presence in the Chaco Research Archive, SPARC resources can now be  distributed to diverse audiences interested in issues ranging from material culture studies, Indigenous religions, identity and ethnicity, and the transformation of human communities over time—making it responsive to the National Endowment for the Humanities’ “Bridging Cultures” initiative by expanding Americans’ understanding of Native peoples of the past. This online resource allows users to search across 140,567 records including more than 11,000 photographs, 29,000 documents, and 24 data tables with information on particular types of artifacts such as ceramics vessels, ornaments, and bone tools.</p>

<div class="illustration goals_illustration_3 illustration_right">
  <%= image_tag "pp_goals_003.png", class: "", alt: "Bowl from room 62A" %>
  <div class="caption">Bowl from room 62A, stratum H-2-5.5.  <%= link_to "Image 12066", image_path(number: "12066") %>  Photographer Jeff Scovill, August 1974.  </div>
</div>

<p>This partnership has allowed us to make the entire Salmon Pueblo archive freely and openly available through this online research portal. SPARC is an exceptional primary resource for a range of disciplines from across the humanities and social sciences with shared interests in material culture, North American cultural heritage, and Native American history. Making the full range of excavation data from Salmon Pueblo openly available allows researchers to address fundamental questions about this historically and culturally significant expression of human complexity, such as: How and why did people in the New World first choose to band together into large-scale communities? What was the genesis of religious and political authority in the formation of chiefly societies?</p>

<p>Much of the information from the Salmon excavations contained in SPARC is currently accessible in published volumes and to those who request access through the Salmon Ruins Museum.  In short, this information is already available.  That said, it has only been accessible to individuals who have access to those publications, access to specific scholarly networks, or access to the collections themselves.  The online publication of SPARC broadens access to those materials. Digital cultural heritage can be used as a tool for teaching and learning about cultural diversity, but it and it can also be used as a tool for continued exploitation.  Our intent has always been towards the former and we are striving to make sure that is the case.</p>

<div class="illustration goals_illustration_4 illustration_left">
  <%= image_tag "pp_goals_004.jpg", class: "", alt: "person keypunching cards" %>
  <div class="caption">Data Processing, Keypunching (crossed out), Verification, B. Randolph.  <%= link_to "Image 12243", image_path(number: "12243") %>  Photographer unknown, August 1976.</div>
</div>

<p>Bringing all the information together (from various prior studies) to build the Salmon Pueblo Archaeological Research Collection has, for instance, resulted in a more accurate and complete record of human remains removed during the 1970s excavations.  As a result, the SPARC project has already helped expand the recently completed Salmon Pueblo NAGPRA inventory amendment.  Based on prior experience with the Chaco Research Archive, we hope SPARC resources will also be used to research NAGPRA claims.  pen access to these records may invite scrutiny We hope it will also allow descendant communities to obtain information to support repatriation claims for items of cultural patrimony.  </p>
