<div class="row about_choices">
  <div class="col-sm-6">
    <%= link_to "Background", about_sub_path(name: "background") %>
  </div><!-- /col -->
  <div class="col-sm-6">
    <%= link_to "Credits", about_sub_path(name: "credits") %>
  </div><!-- /col -->
</div><!-- /row -->

<div class="row about_choices">
  <div class="col-sm-6">
    <%= link_to "Goals", about_sub_path(name: "goals") %>
  </div><!-- /col -->
  <div class="col-sm-6">
    <%= link_to "How to Cite", about_sub_path(name: "how-to-cite") %>
  </div><!-- /col -->
</div><!-- /row -->

<div class="row about_choices">
  <div class="col-sm-6">
    <%= link_to "People", about_sub_path(name: "people") %>
  </div><!-- /col -->
  <div class="col-sm-6">
    <%= link_to "Policies", about_sub_path(name: "policies") %>
  </div><!-- /col -->
</div><!-- /row -->

<div class="row about_choices">
  <div class="col-sm-6">
    <%= link_to "Technical", about_sub_path(name: "technical") %>
  </div><!-- /col -->
</div><!-- /row -->
