<h1>Welcome to the Salmon Pueblo Archaeological Research Collection</h1>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <%= link_to explore_path, class: "list-group-item active list-group-item-primary" do %>
        <h2 class="list-group-item-heading">
          <span class="glyphicon glyphicon-map-marker"></span>
          Explore
        </h2>
        <p class="list-group-item-text">Maps of the Salmon Pueblo site</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <%= link_to search_path, class: "list-group-item active list-group-item-primary" do %>
        <h2 class="list-group-item-heading">
          <span class="glyphicon glyphicon-search"></span>
          Search
        </h2>
        <p class="list-group-item-text">Find information about units, kivas, and images</p>
      <% end %>
    </div>
  </div>
</div> <!-- /row -->

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <%= link_to query_path, class: "list-group-item active list-group-item-primary" do %>
        <h2 class="list-group-item-heading">
          <span class="glyphicon glyphicon-search"></span>
          Query
        </h2>
        <p class="list-group-item-text">Advanced search across all items, like ornaments, ceramic shards, and more</p>
        <p class="list-group-item-text">(Will eventually have the active scaffold replacement)</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <%= link_to gallery_path, class: "list-group-item active list-group-item-primary" do %>
        <h2 class="list-group-item-heading">
        <span class="glyphicon glyphicon-camera"></span>
          Gallery
        </h2>
        <p class="list-group-item-text">Browse and search images of items and the excavation team</p>
      <% end %>
    </div>
  </div>
</div> <!-- /row -->

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <%= link_to about_path, class: "list-group-item active list-group-item-primary" do %>
        <h2 class="list-group-item-heading">
        <span class="glyphicon glyphicon-info-sign"></span>
          About
        </h2>
        <p class="list-group-item-text">Learn about the Salmon Pueblo project</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <%= link_to admin_units_path, class: "list-group-item active list-group-item-primary" do %>
        <h2 class="list-group-item-heading">
        <span class="glyphicon glyphicon-lock"></span>
          Admin
        </h2>
        <p class="list-group-item-text">Current active scaffold tables</p>
      <% end %>
    </div>
  </div>
</div> <!-- /row -->
