<h3><%= @type.titleize %> Documents</h3>

<p>Found <%= pluralize @result_num, "documents" %></p>
<%= will_paginate @res %>

<div class="docs_by_type">
  <% @res.each do |doc| %>
    <div class="document_thumbnail">
      <h4><%= doc.units.first.unit_no %></h4>
      <%# TODO this will need to be changed to use the correct image paths when documents are added %>
      <%= link_to path_to_image("documents/placeholders/#{doc.document_type.code}.jpeg"), { "class" => "stuff", "data-toggle" => "lightbox", "data-gallery" => "sparc", "data-title" => "Doc" } do %>
        <%= image_tag "documents/placeholders/#{doc.document_type.code}.jpeg", size: "150" %>
      <% end %>
    </div>
  <% end %>
</div>
