<script type="text/javascript" src="<%= asset_path('uv-2.0.2/lib/bundle.min.js')%>"></script>

<script data-main="<%= asset_path('uv-2.0.2/lib/app') %>" type="text/javascript" src="<%= asset_path('uv-2.0.2/require.min.js') %>"></script>

<h3><%= @unit %> Documents</h3>

<div class="selection">
  <select id="manifestSelect" style="width:90vw;font-size:14pt;"></select>
</div>

<input id="manifest" type="hidden" value="" />

<div id="uv_viewer" data-uri="<%= get_data_uri %>"
    style="width:90vw; height:720px; background-color: #000">
</div>

<script type="text/javascript" id="embedUV" src="<%= asset_path('uv-2.0.2/lib/embed.js') %>"></script>

<script type="text/javascript" src="<%= asset_path('document_iiif_viewer') %>"></script>

<script type="text/javascript">
  $(function() {
    loadManifests("<%= get_manifests %>", function() {
      init();
    });
  });
</script>
<%#= render "partials/document_viewer" %>
