<%# file does not use traditional javascript include tags because universal viewer
    has internal calls to resources, so manually including at non-fingerprinted path %>
<script type="text/javascript" src="<%= "#{request.base_url}/assets/uv-2.0.2/lib/bundle.min.js" %>"></script>

<script type="text/javascript" src="<%= "#{request.base_url}/assets/uv-2.0.2/require.min.js" %>"
  data-main="<%= "#{request.base_url}/uv-2.0.2/lib/app.js" %>"></script>

<h2><%= @unit_no %> Documents <small>[<%= link_to "See data about unit", unit_path(number: @unit_no) %>]</small></h2>

</div> <!-- end container -->

<div class="container-fluid">

<div class="document_selection">
  <select id="manifestSelect"></select>
</div>

<input id="manifest" type="hidden" value="" />

<div id="uv_viewer" class="uv" data-uri="<%= get_data_uri %>"></div>

<script type="text/javascript" id="embedUV" src="<%= "#{request.base_url}/assets/uv-2.0.2/lib/embed.js" %>"></script>

<%= javascript_include_tag "document_iiif_viewer" %>

<script type="text/javascript">
  $(function() {
    loadManifests("<%= get_manifests %>", function() {
      init();
    });
  });
</script>
