<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= active?("summary", @selected) %>">
    <%= link_to "Summary", unit_path(@unit.unit_no) %>
  </li>
  <li role="presentation" class="<%= active?("overview", @selected) %>">
    <%= link_to "Overview", unit_overview_path(@unit.unit_no) %>
  </li>
  <li role="presentation" class="<%= active?("images", @selected) %>">
    <%= link_to "Images", unit_images_path(@unit.unit_no) %>
  </li>
  <% if @unit.documents.count > 0 %>
    <li role="presentation" class="<%= active?("documents", @selected) %>">
      <%= link_to "Documents", unit_documents_path(@unit.unit_no) %>
    </li>
  <% end %>
  <li role="presentation" class="<%= active?("strata", @selected) %>">
    <%= link_to "Strata", unit_strata_path(@unit.unit_no) %>
  </li>
  <li role="presentation" class="<%= active?("associated", @selected) %>">
    <%= link_to "Associated Objects", unit_associated_path(@unit.unit_no) %>
  </li>
</ul>
