<%= stylesheet_link_tag 'maps', media: 'all' %>
<%= javascript_include_tag 'svg-pan-zoom' %>
<%= javascript_include_tag 'map_zoom' %>

<h1>Early Map with Zoom</h1>


    Choose Occupation
    <div class="well">
      <button>Chacoan</button>
      <button>San Juan</button>
      <button>Toggle Test Trenches and Search Areas</button>
    </div>
    <div class="well">
      <button>Open links in new tab</button>
    </div>

    <div id="map_container">
      <%= render "early" %>
    </div>


<h2>Links to the old pages</h2>
<ul>
  <li><%= link_to "Zoomable with Links", explore_e_zoom_path %></li>
  <li><%= link_to "Zoomable Links With Overlay that Don't Yet Work", explore_e_zoom_links_path %></li>
</ul>

<h2>Late</h2>
<ul>
  <li><%= link_to "No Links and No Overlay", explore_l_path %></li>
  <li><%= link_to "Zoomable No Links and No Overlay", explore_l_zoom_path %></li>
</ul>
