<h1>Explore</h1>

<p>Browse maps of the site</p>
<p>NOTE:  On the zoomable maps, you will need to refresh the page to see the zoomable behavior (TODO fix that) </p>


<h2>Early</h2>
<ul>
  <li><%= link_to "Early", explore_e_path %></li>
  <li><%= link_to "Early -- Links", explore_e_links_path %></li>
  <li><%= link_to "Early -- Numbered Links", explore_e_links_num_path %></li>
  <li><%= link_to "Early -- Zoomable", explore_e_zoom_path %></li>
  <li><%= link_to "Early -- Zoomable Links", explore_e_zoom_links_path %></li>
</ul>

<h2>Late</h2>
<ul>
  <li><%= link_to "Late", explore_l_path %></li>
  <li><%= link_to "Late -- Zoomable", explore_l_zoom_path %></li>
</ul>
