<h1>Search All Units</h1>

<%= form_tag units_path, :method => "get",
  id: "unit-search-form", role: "form" do %>
  <%= hidden_field_tag "sort", params["sort"] %>

  <div class="row">
    <!-- location -->
    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag "unit_no", "Unit Number" %>
        <%= text_field_tag "unit_no", params["unit_no"], placeholder: "BW", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag "excavation_status", "Excavation Status" %>
        <%= select_tag "excavation_status", options_from_collection_for_select(ExcavationStatus.sorted, "id", "name", params["excavation_status"]), class: "form-control", multiple: true, include_blank: true %>
      </div>
    </div>

    <!-- description -->
    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag "intact_roof", "IntactRoof" %>
        <%= select_tag "intact_roof", options_from_collection_for_select(IntactRoof.sorted, "id", "name", params["intact_roof"]), class: "form-control", multiple: true, include_blank: true %>
      </div>
      <div class="form-group">
        <%= label_tag "irregular_shape", "IrregularShape" %>
        <%= select_tag "irregular_shape", options_from_collection_for_select(IrregularShape.sorted, "id", "name", params["irregular_shape"]), class: "form-control", multiple: true, include_blank: true %>
      </div>
    </div>

    <!-- other description -->
    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag "story", "Story" %>
        <%= select_tag "story", options_from_collection_for_select(Story.sorted, "id", "name", params["story"]), class: "form-control", multiple: true, include_blank: true %>
      </div>
      <div class="form-group">
        <%= label_tag "occupation", "Occupation" %>
        <%= select_tag "occupation", options_from_collection_for_select(Occupation.sorted, "id", "name", params["occupation"]), class: "form-control", multiple: true, include_blank: true %>
      </div>
    </div>

    <!-- function -->
    <div class="col-md-3">
      <div class="form-group">
        <%= label_tag "inferred_function", "Inferred Function" %>
        <%= select_tag "inferred_function", options_from_collection_for_select(InferredFunction.sorted, "id", "name", params["inferred_function"]), class: "form-control", multiple: true, include_blank: true %>
      </div>
      <div class="form-group">
        <%= label_tag "unit_class", "Unit Class" %>
        <%= select_tag "unit_class", options_from_collection_for_select(UnitClass.sorted, "id", "name", params["unit_class"]), class: "form-control", multiple: true, include_blank: true %>
      </div>
    </div>

  </div> <!-- /row -->

  <!-- COLLAPSED SEARCH OPTIONS -->
    <div class="collapse" id="collapseMore">
      <div class="well">
        <div class="row">

        <!-- location -->
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "zone", "Zone" %>
              <%= select_tag "zone", options_from_collection_for_select(Zone.sorted, "id", "name", params["zone"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
            <div class="form-group">
              <%= label_tag "salmon_sector", "Salmon Sector" %>
              <%= select_tag "salmon_sector", options_from_collection_for_select(SalmonSector.sorted, "id", "name", params["salmon_sector"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>

          <!-- unit type description -->
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "type_description", "Type Description" %>
              <%= select_tag "type_description", options_from_collection_for_select(TypeDescription.sorted, "id", "name", params["type_description"]), class: "form-control", multiple: true, include_blank: true %>
            </div>
          </div>

          <!-- ? -->
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "strata" %>
              <%= text_field_tag "strata", params["strata"], placeholder: "B-1-2", class: "form-control" %>
            </div>
          </div>

          <!-- comments -->
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag "other_description", "Other Description (not much text to search?)" %>
              <%= text_field_tag "other_description", params["other_description"], placeholder: "intersticial", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag "comments", "Comments" %>
              <%= text_field_tag "comments", params["comments"], placeholder: "intersticial", class: "form-control" %>
            </div>
          </div>
        </div> <!-- /row -->

    </div> <!-- /well -->
  </div>

  <div class="row">
    <div class="collapse" id="collapseItems">
      <div class="well">
        <h4>Return only units with the following items: <small>(query may take some time, please be patient)</small></h4>
        <div class="form-group">
          <ul id="unit_search_list">
            <%= render :partial => "radio_button", :locals => { :item => "ceramic_inventories", :label => "Ceramic Inventories" } %>
            <%= render :partial => "radio_button", :locals => { :item => "eggshells", :label => "Eggshells" } %>
            <%= render :partial => "radio_button", :locals => { :item => "bone_tools", :label => "Bone Tools" } %>
            <%= render :partial => "radio_button", :locals => { :item => "faunal_inventories", :label => "Faunal Inventories" } %>
            <%= render :partial => "radio_button", :locals => { :item => "images", :label => "Images" } %>
            <%= render :partial => "radio_button", :locals => { :item => "lithic_inventories", :label => "Lithic Inventories" } %>
            <%= render :partial => "radio_button", :locals => { :item => "ornaments", :label => "Ornaments" } %>
            <%= render :partial => "radio_button", :locals => { :item => "perishables", :label => "Perishables" } %>
            <%= render :partial => "radio_button", :locals => { :item => "select_artifacts", :label => "Select Artifacts" } %>
            <%= render :partial => "radio_button", :locals => { :item => "soils", :label => "Soils" } %>
          </ul>
        </div>
      </div> <!-- /well -->
    </div> <!-- /collapse -->
  </div> <!-- /row -->

  <div class="row">
    <div class="col-md-6"> 
      <button class="btn btn-info" type="button"
      data-toggle="collapse" data-target="#collapseMore"
      aria-expanded="false" aria-controls="collapseMore">
        More Options
      </button>
      <button class="btn btn-info" type="button"
      data-toggle="collapse" data-target="#collapseItems"
      aria-expanded="false" aria-controls="collapseItems">
        Limit by Items in Unit
      </button>
      <%= render :partial => "partials/clear_search", :locals => { :path => query_path } %>
      <%= submit_tag "Search", :class => "btn btn-primary" %>
    </div>
    <div class="col-md-6 pagination_container">
      <%= will_paginate @units %>
    </div>
  </div> <!-- /row -->

  <p>Found <%= pluralize @result_num, "result" %></p>
  
  <% @units.each_slice(4) do |unit_set| %>
    <div class="row gallery_row">
      <% unit_set.each do |unit| %>
        <div class="col-sm-3">
          <%= link_to unit_path(unit.unit_no), class: "gallery_link" do %>
            <div class="gallery_entry">
              <h3><%= unit.unit_no %></h3>
              <ul class=" gallery_info">
                <li><strong>Occupation:</strong> <%= unit.occupation.name if unit.occupation %></li>
                <li><strong>Type:</strong> <%= unit.type_description.name if unit.type_description %></li>
                <li><strong>Inferred Function:</strong> <%= unit.inferred_function.name if unit.inferred_function %></li>
                <li><strong>Number of Images:</strong> <%= unit.images.size %></li>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div><!-- /row -->
  <% end %>
<% end %>

<div class="pagination_container">
  <%= will_paginate @units %>
</div>

