<h1><%= @unit.unit_no %></h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#summary" aria-controls="summary"
        role="tab" data-toggle="tab">Summary</a>
  </li>
  <li role="presentation">
    <a href="#overview" aria-controls="overview"
        role="tab" data-toggle="tab">Overview</a>
  </li>
  <li role="presentation">
    <a href="#images" aria-controls="images"
        role="tab" data-toggle="tab">Image Gallery</a>
  </li>
  <li role="presentation">
    <a href="#documents" aria-controls="documents"
        role="tab" data-toggle="tab">Documents</a>
  </li>
  <li role="presentation">
    <a href="#strata" aria-controls="strata"
        role="tab" data-toggle="tab">Associated Strata</a>
  </li>
  <li role="presentation">
    <a href="#features" aria-controls="features"
        role="tab" data-toggle="tab">Associated Features</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <!-- summary -->
  <div role="tabpanel" class="tab-pane active" id="summary">
    <div class="row">
      <div class="col-md-6">
        We have a saboteur aboard. Mr. Crusher, ready a collision course with the Borg ship. We could cause a diplomatic crisis. Take the ship into the Neutral Zone Computer, lights up! Maybe if we felt any human loss as keenly as we feel one of those close to us, human history would be far less bloody. Ensign Babyface! Shields up! Rrrrred alert! Now we know what they mean by 'advanced' tactical training. Your shields were failing, sir. What? We're not at all alike! I'll be sure to note that in my log. When has justice ever been as simple as a rule book? You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice.
      </div>
    </div>
  </div>

  <!-- overview -->
  <div role="tabpanel" class="tab-pane" id="overview">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li><strong>Occupation:</strong> <%= @unit.occupation.name if @unit.occupation %></li>
          <li><strong>Class:</strong> <%= @unit.unit_class.name if @unit.unit_class %></li>
          <li><strong>Excavation Status:</strong> <%= @unit.excavation_status.name if @unit.excavation_status %></li>
          <li><strong>Sector:</strong> <%= @unit.salmon_sector.name if @unit.salmon_sector %></li>
          <li><%= pluralize @unit.strata.size, "stratum" %></li>
          <li><%= pluralize @unit.features.size, "feature" %></li>
          <li><strong>Stories:</strong> <%= @unit.story.name if @unit.story %></li>
          <li><strong>Intact Roof:</strong> <%= @unit.intact_roof.name if @unit.intact_roof %></li>
          <li><strong>Type:</strong> <%= @unit.salmon_type_code %></li>
          <li><strong>Type Description:</strong> <%= @unit.type_description.name if @unit.type_description %></li>
          <li><strong>Inferred Function:</strong> <%= @unit.inferred_function.name if @unit.inferred_function %></li>
          <li>Other Description: <%= @unit.other_description if @unit.other_description %></li>
          <li>Irregular Shape: <%= @unit.irregular_shape.name if @unit.irregular_shape %></li>
        </ul>
      </div>
      <!-- ROOM TYPE -->
      <div class="col-md-6">
        <ul>
          <% type = @unit.room_type %>
          <% if type %>
            <li><strong>Room Type:</strong> <%= type.description if type.description %>
            <li><strong>Room Type Period:</strong> <%= type.occupation.name if type.occupation %></li>
            <li><strong>Room Type Location:</strong> <%= type.location %></li>
          <% end %>
          <li><strong>Length:</strong> <%= @unit.length %></li>
          <li><strong>Width:</strong> <%= @unit.width %></li>
          <li><strong>Floor Area:</strong> <%= @unit.floor_area %></li>
          <li><strong>Comments:</strong> <%= @unit.comments %></li>
        </ul>
        <p><a href="#">View faunal bones in this unit [link todo]</a></p>
        <p><a href="#">View ceramics in this unit [link todo]</a></p>
        <p><a href="#">TODO add when these searches are active</a></p>
      </div>
    </div>
  </div>

  <!-- images -->
  <div role="tabpanel" class="tab-pane" id="images">
    <p>Displaying a subset of images from this unit.
      <%= link_to "View all images for #{@unit.unit_no}", gallery_path({ :unit => @unit.id }) %>
    </p>
    <!-- TODO could move this and image#index version into partial? -->
    <div class="row">
      <% @images.each_slice(4) do |img_set| %>
        <div class="row">
          <% img_set.each do |img| %>
            <div class="col-md-3" <%= 'human_remains' if !img.displayable? %>>
              <%= link_to image_path(img.image_no) do %>
                <%= image_tag "field/thumb/#{img.image_no}" %>
              <% end %>
              <ul>
                <li>Number: <%= img.image_no %></li>
                <li>Format: <%= img.format %></li>
                <li>Comments: <%= img.comments %></li>
                <li>Subjects: <%= img.subject_list.join("; ") %></li>
                <li <%= "class=human_remains" if !img.displayable? %>>
                  Human Remains: <%= img.human_remain %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- documents -->
  <div role="tabpanel" class="tab-pane" id="documents">
    <p>TODO display all documents for this unit in document viewer</p>
  </div>

  <!-- strata -->
  <div role="tabpanel" class="tab-pane" id="strata">
    <table class="table table-striped">
      <tr>
        <th>Stratum Number</th>
        <th>Stratum Type</th>
        <th>Features</th>
        <th>Occupation</th>
      </tr>
      <% @unit.strata.each do |stratum| %>
        <tr>
          <td><%= stratum.strat_all %></td>
          <td><%= stratum.strat_type.name if stratum.strat_type %></td>
          <td><%= stratum.features.map {|f| f.feature_no }.join("; ") %></td>
          <td><%= stratum.occupation.name if stratum.occupation %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <!-- features -->
  <div role="tabpanel" class="tab-pane" id="features">
    <table class="table table-striped">
      <tr>
        <th>Feature Number</th>
        <th>Strata</th>
        <th>Floor Association</th>
        <th>Occupation</th>
        <th>Feature Form</th>
        <th>Associated Features</th>
        <th>Grid</th>
        <th>Depth</th>
        <th>Feature Type</th>
        <th>Count</th>
        <th>Residential Feature</th>
        <th>Real Feature</th>
        <th>Location in Room</th>
        <th>Feature Group</th>
        <th>Doorway Sealed</th>
        <th>T Shaped Door</th>
        <th>Door Between Multiple Rooms</th>
        <th>Length</th>
        <th>Width</th>
        <th>Depth / Height</th>
        <th>Comments</th>
      </tr>
      <% @unit.features.each do |feature| %>
        <tr>
          <td><%= feature.feature_no %></td>
          <td><%= feature.strata.map {|s| s.strat_all }.join("; ") %></td>
          <td><%= feature.floor_association %></td>
          <td><%= feature.occupation.name if feature.occupation %></td>
          <td><%= feature.feature_form %></td>
          <td><%= feature.other_associated_features %></td>
          <td><%= feature.grid %></td>
          <td><%= feature.depth_mbd %></td>
          <td><%= feature.feature_type.name if feature.feature_type %></td>
          <td><%= feature.count %></td>
          <td><%= feature.residential_feature.name if feature.residential_feature %></td>
          <td><%= feature.real_feature %></td>
          <td><%= feature.location_in_room %></td>
          <td><%= feature.feature_group.name if feature.feature_group %></td>
          <td><%= feature.doorway_sealed.name if feature.doorway_sealed %></td>
          <td><%= feature.t_shaped_door.name if feature.t_shaped_door %></td>
          <td><%= feature.door_between_multiple_room.name if feature.door_between_multiple_room %></td>
          <td><%= feature.length %></td>
          <td><%= feature.width %></td>
          <td><%= feature.depth_height %></td>
          <td><%= feature.comments %></td>
        </tr>
      <% end %>
    </table>
  </div>

</div> <!-- /tab-content -->
