<h1><%= @unit.unit_no %></h1>

<%= render "unit_tabs" %>

<div role="tabpanel" class="tab-pane" id="overview">
  <div class="row">
    <div class="col-md-6">
      <h3>Physical Description</h3>
      <ul>
        <li><strong>Class:</strong> <%= @unit.unit_class.name if @unit.unit_class %></li>
        <li><strong>Length:</strong> <%= @unit.length %></li>
        <li><strong>Width:</strong> <%= @unit.width %></li>
        <li><strong>Floor Area:</strong> <%= @unit.floor_area %></li>
        <li><strong>Sector:</strong> <%= @unit.salmon_sector.name if @unit.salmon_sector %></li>
        <li><strong>Stories:</strong> <%= @unit.story.name if @unit.story %></li>
        <li><strong>Intact Roof:</strong> <%= @unit.intact_roof.name if @unit.intact_roof %></li>
        <li><strong>Type:</strong> <%= @unit.salmon_type_code %></li>
        <li><strong>Type Description:</strong> <%= @unit.type_description.name if @unit.type_description %></li>
        <li><strong>Irregular Shape:</strong> <%= @unit.irregular_shape.name if @unit.irregular_shape %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Other Information</h3>
      <ul>
        <li><strong>Occupation:</strong> <%= @unit.occupation.name if @unit.occupation %></li>
        <li><strong>Excavation Status:</strong> <%= @unit.excavation_status.name if @unit.excavation_status %></li>
        <li><strong>Associated Strata:</strong> <%= pluralize @unit.strata.size, "stratum" %></li>
        <li><strong>Inferred Function:</strong> <%= @unit.inferred_function.name if @unit.inferred_function %></li>
        <li><strong>Other Description:</strong> <%= @unit.other_description if @unit.other_description %></li>
        <li><strong>Comments:</strong> <%= @unit.comments %></li>
        <% if related_units(@unit).present? %>
          <li>
            <strong>Related Unit(s):</strong>
            <%= sanitize(related_units(@unit).join("; ")) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
