<%= stylesheet_link_tag "images", media: nil %>

<h1><%= @unit.unit_no %></h1>

<%= render "unit_tabs" %>

<div role="tabpanel" class="tab-pane" id="images">
  <!-- TODO could move this and image#index version into partial? -->
  <div class="row">
    <% if @images.present? %>
       <%= link_to gallery_path({ :unit => @unit.id }), class: "btn btn-primary btn-lg explore_see_more" do %>
         View <%= pluralize @images.count, "image" %> images 
         for <%= @unit.unit_no %> in the Image Gallery 
         <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
       <% end %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Example Images</h3>
        </div>
        <div class="panel-body">
          <% @images_display.each_slice(4) do |img_set| %>
            <div class="row">
              <% img_set.each do |img| %>
                <div class="col-xs-3 explore_sample_image">
                  <p><%= img.image_no %> <%= img.format %></p>
                  <%= link_to image_path img.image_no do %>
                    <%= image_display(img, thumb: true) %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div><!-- /panel -->
    <% else %>
      No images associated with this unit.
    <% end %>
  </div><!-- /row -->
</div><!-- /tabpanel -->
