<h1><%= @unit.unit_no %></h1>

<%= render "unit_tabs" %>

<div role="tabpanel" class="tab-pane" id="documents">
  <p>
    <%= pluralize @document_count, "document" %> available to view.
    <%= link_to "Visit the document viewer for this unit to see all documents", documents_unit_path(unit: @unit.unit_no) %>
  </p>
  <% @res.each_slice(3) do |docs| %>
    <div class="row">
      <% docs.each do |doc| %>
        <div class="col-md-4">
          <p><%= doc.document_type.name %></p>
          <%= image_tag iiif_path(doc, SETTINGS["thumbnail_size"]) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
