<h1>Zone <%= @zone_no %></h1>

<p>View of the map(s) will go here with a highlighted zone</p>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <% @units.each_with_index do |unit, i| %>
    <li role="presentation" class="<%= active?(0, i) %>">
      <a href=<%= "#unit_#{i}" %> aria-controls=<%= "unit_#{i}" %> role="tab" data-toggle="tab"><%= unit.unit_no %></a>
    </li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <% @units.each_with_index do |unit, i| %>
    <div role="tabpanel" class="tab-pane <%= active?(0, i) %>" id=<%= "unit_#{i}" %> >
      <h2><%= link_to unit.unit_no, unit_path(unit.unit_no) %></h2>
      <p>Probably an image gallery will go here?</p>
      <p><%= link_to "More info", unit_path(unit.unit_no) %></p>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><strong>Class:</strong> <%= unit.unit_class.name if unit.unit_class %></li>
            <li><strong>Excavation Status:</strong> <%= unit.excavation_status.name if unit.excavation_status %></li>
            <li><strong>Occupation:</strong> <%= unit.occupation.name if unit.occupation %></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
          <li><%= pluralize unit.strata.size, "stratum" %></li>
          <li><%= pluralize unit.features.size, "feature" %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
